[submodule "silkworm"]
	path = silkworm
	url = https://github.com/torquem-ch/silkworm
[submodule "interfaces"]
	path = interfaces
	url = https://github.com/ledgerwatch/interfaces
[submodule "silkrpc/croaring"]
	path = silkrpc/croaring
	url = https://github.com/lemire/CRoaringUnityBuild
[submodule "silkrpc/jwt-cpp"]
	path = silkrpc/jwt-cpp
	url = https://github.com/Thalhammer/jwt-cpp.git
